* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #212121;
}

.box {
    height: 300px;
    width:600px;
    display: flex;
    margin: 6px;
    padding: 5px 10px;
    border: 5px solid white;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    color: orchid;
}

button {
    height: 40px;
    width: 100px;
    padding: 5px 10px;
    color: orchid;
    background-color: aliceblue;
    border: 2px solid orchid;
    border-radius: 10px;
}

p {
    color: aliceblue;
    font: 30px;
}